.color1 {
  color: #3a2d3d;
}
.color2 {
  color: #55394b;
}
.color3 {
  color: #825261;
}
.color4 {
  color: #bc7880;
}
.color5 {
  color: #f7aaa0;
}

/* Стили для канваса с частицами */
#particles canvas {
  z-index: -1 !important;
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Стили для контейнера приложения */
.App {
  position: relative;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

/* Псевдоэлемент для фона с размытией */
.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
  filter: brightness(0.6) blur(3px);
}

/* Псевдоэлемент для полупрозрачного наложения */
.App::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 31, 35, 0.144);
  z-index: -2;
}
